body {
  font-family: Arial;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f3f6fa;
}

h1 {
  color: #2a72ff;
  text-align: center;
}

h2 {
  color: #333;
  margin-top: 30px;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

ul {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

a {
  color: #ff5733;
  font-weight: bold;
}
